.container_2 {
    max-width: 1450px;
}

.container_2 .main-container {
    max-width: 1084px;
}

.input--medium_1 {
	max-width: 220px;
	margin: 0 45px 0 0;
}

.input--medium_2 {
	max-width: 146px;
	margin: 0 45px 0 0;
}

.input--medium_3 {
	max-width: 178px;
	margin: 0 45px 0 0;
}

.form--row .input.input--medium_1,
.form--row .input.input--medium_2,
.form--row .input.input--medium_3 {
	margin: 0 45px 0 0;
}

.form--row .input:last-child {
    margin: 0;
}

.btn--submit_2 {
    margin: 5px 0 0;
}

.checkbox_wrapp label {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	padding-left: 35px;
	position: relative;
}

.checkbox_wrapp label input {
	width: 0;
	height: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
}

.checkbox_wrapp label input:checked + span {
    background-image: url(../img/icons/btn-radio-checked.svg);
}

.checkbox_wrapp label input + span {
	display: block;
	width: 20px;
	height: 20px;
	position: relative;
	margin: 0 auto;
	background-image: url(../img/icons/btn-radio.svg);
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 2px;
	left: 0;
}

.table_1 {
	margin: 0 -28px;
}

.table_1 .table_row {
	display: flex;
	display: -webkit-flex;
	border-bottom: 1px solid #C2C9D1;
	align-items: center;
	-webkit-align-items: center;
}

.table_1 .table_row:nth-child(even) {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #C2C9D1;
	background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #C2C9D1;
}

.table_1 .table_row.table_header {
	align-items: flex-end;
	-webkit-align-items: flex-end;
}

.table_1 .table_row.table_header .cell {
	padding-right: 20px;
}

.table_1 .table_row .cell {
	line-height: 1;
	position: relative;
	padding-right: 10px;
	padding-left: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.table_1 .table_row .cell:nth-child(1) {
	width: 69px;
	padding-left: 15px;
}

.table_1 .table_row .cell:last-child {
	padding-right: 20px;
}

.table_1 .table_row .cell:nth-child(2) {
	width: 209px;
}

.table_1 .table_row .cell:nth-child(3) {
	width: 186px;
}

.table_1 .table_row .cell:nth-child(4) {
	width: 180px;
}

.table_1 .table_row .cell:nth-child(5) {
	width: 156px;
}

.table_1 .table_row .cell:nth-child(6) {
	width: 144px;
}

.table_1 .table_row .cell:nth-child(7) {
	width: 130px;
}

.table_1 h3 {
	padding: 0;
	margin: 0;
	font-family: Inter;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	color: #000000;
}

.table_1 p {
	padding: 0;
	margin: 0;
	font-family: Inter;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: #000000;
}

.sort_btn {
	display: block;
	width: 9px;
	height: 5px;
	cursor: pointer;
	border: none;
	padding: 0;
	background: transparent;
	outline: none;
}

.sort_btn:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 4.5px 0 4.5px;
	border-color: #000000 transparent transparent transparent;
	font-size: 0;
	line-height: 0;
    position: relative;
    top: -1px;
    left: -5px;
}

.table_1 .table_row .cell .sort_btn {
	position: absolute;
	bottom: 13px;
	right: 0;
	opacity: .5;
}

.table_1 .table_row .cell:nth-child(1) .sort_btn {
	opacity: 1;
}

.table_1 .table_row .cell .sort_btn:hover {
	opacity: 1;
}

.accordion.noborder {
    border-bottom: transparent;
    margin: 0;
    padding-bottom: 30px;
    /*padding: 0;*/
}

.pagination_wrapp {
	display: flex;
	display: -webkit-flex;
}

.pagination_wrapp .col_1 {
	padding-right: 35px;
	padding-top: 9px;
}

.pagination_wrapp .col_2 {

}

.pagination_wrapp h3 {
	font-family: Inter;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: rgba(0, 0, 0, .5);
}

.pagination {
	display: flex;
	display: -webkit-flex;
	padding: 0;
	margin: 0;
}

.pagination li {
	padding: 0 4px;
	list-style: none;
}

.pagination li a {
	display: block;
	width: 32px;
	height: 32px;
	margin: 0;
	padding: 0;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	font-family: Inter;
	font-weight: 600;
	font-size: 14px;
	line-height: 30px;
	color: rgba(0, 0, 0, .5);
}

.pagination li a.active {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #828282;
	background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #828282;
	color: #FFD300;
	border: 1px solid rgba(0, 0, 0, .1);
}

.pagination li a:hover {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #828282;
	background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #828282;
	color: #FFD300;
	border: 1px solid rgba(0, 0, 0, .1);
}